
body{
    background-color: #6c757d !important; 
}


.contenedor_form{
    width: 500px;
    
    

    height: 500px;
    background-color: rgb(92, 87, 91);
    
    padding-bottom: 100px;
    position: relative;
    display: inline-block;
    

}
#formulario{
    
    margin-left: 20px;
    margin-right: 200px;
}
#contenedorBD{
    
    background-color: rgb(46, 46, 46);
    color: white;
    height: 500px;
    width: 800px;
    float: right;
    margin-right: 20px;
    
    
}
span i{
    cursor: pointer;
    color: rgb(221, 221, 221);
    
}

span i:hover{
    color: rgb(255, 255, 255);
}


